<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!--meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" /-->
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>NCC Club</title>

  <link rel="icon" type="image/x-icon" href="assets/img/logos/LOGO-SVGwhite.png" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet" type="text/css" />
  <!--link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" /-->
  <!--link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" /-->
  <!--link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,400italic,700italic" rel='stylesheet' type="text/css" /-->
  <link href="https://fonts.googleapis.com/css?family=Raleway::100,300,400,700,400italic,700italic" rel='stylesheet'>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/club.css" rel="stylesheet" />
</head>

<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger fade-in-left" href="#page-top"><img src="/images/WhatsApp_Image_2025-04-10_at_18.00.44_bc71041e-removebg-preview.png"
          alt="SB Logo" /></a>
      <button class="navbar-toggler navbar-toggler-right fade-in-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ml-1"></i>
      </button>
      <div class="collapse navbar-collapse fade-in-right" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#features">Features</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#events">Events</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="gallery.html">Exhibition</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000"
      data-pause="false">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="3"></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/images/ncc1.jpg')">
          <a href="https://www.instagram.com/p/CE8tThRAcQn">
            <div class="carousel-caption">
              <h2 class="display-4-2"><br></h2>
              <p class="lead-2"></p>
            </div>
          </a>
        </div>

        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/images/ncc2.jpg')">
          <div class="carousel-caption ">
            <h2 class="display-4-3"></h2>
            <p class="lead-3"></p>
          </div>
        </div>

        <!-- Slide Four - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/images/ncc3.jpg')">
          <div class="carousel-caption ">
            <h2 class="display-4-4"></h2>
            <p class="lead-4"></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
	<!-- 2022 december competition-->
	<section class="page-section fadein" style="background-color:#F5F5F5;">
    <div class="container text-center">
      <img src="/images/nccrec.logo.jpg" alt="2022 December Competition" height="550px" width="450px"> <br> <br><br>
      <a target="_blank" href="https://forms.gle/Yi6DaxUfUUQ7DuLP9"><button data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#FED136;color:#000000;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Participate Now</button></a>
     <!DOCTYPE html>
<html>
<head>
 <title>timer</title>
</head>
<body>
  <br><br>
<center>
<h1>Hurry ! Registration Closes in</h1>
<table style="border:1px solid black;text-align:center;">
 <tr style="font-size:60px;">
  <td id="days"><center>00</center></td>
  <td id="hours"><center>00</center></td>
  <td id="min"><center>00</center></td>
  <td id="sec"><center>00</center></td>
 </tr>
 <tr>
  <td><center> &ensp;&ensp;&ensp;&ensp;Days &ensp;&ensp;&ensp;&ensp;</center></td>
  <td><center> &ensp;&ensp;&ensp;&ensp;Hours &ensp;&ensp;&ensp;&ensp;</center></td>
  <td><center> &ensp;&ensp;&ensp;&ensp;Minutes &ensp;&ensp;&ensp;&ensp;</center></td>
  <td><center> &ensp;&ensp;&ensp;&ensp;Seconds &ensp;&ensp;&ensp;&ensp;</center></td>
 </tr>
</table>

</center>

<script type="text/javascript">
 var x = new Date();
 var y = x.getTime();
 var total = y + (14*24*3600000);
 function count()
 {
  var now = new Date();
  var currentTime = now.getTime();

   var diff = total - currentTime;
   var s = Math.floor(diff/1000);
   var m = Math.floor(s/60);
   var h = Math.floor(m/60);
   var d = Math.floor(h/24);

  h=h%24;
  m=m%60;
  s=s%60;

  h=(h<10)?"0"+h:h;
  m=(m<10)?"0"+m:m;
  s=(s<10)?"0"+s:s;
  d=(d<10)?"0"+d:d;

  document.getElementById("days").innerHTML=d;
  document.getElementById("hours").innerHTML= h;
  document.getElementById("min").innerHTML= m;
  document.getElementById("sec").innerHTML= s;
  setTimeout(count,1000);
 }
 count();
</script>
</body>
</html>
	</div>
  </section>
  <!-- About-->
  
  <section class="page-section fadein" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-7">

          <h1 class='text-success'>ABOUT US</h1>
          <h2></h2>
          <hr>
          <p>The National Cadet Corps (NCC) is a prestigious youth organization dedicated to grooming future leaders and disciplined citizens of the nation. It instills a sense of patriotism, discipline, leadership, and selfless service among students.

            At our college, the NCC unit provides students with a platform to participate in a variety of military and community-based activities. Cadets undergo regular training in drills, weapon handling, physical fitness, and leadership development. They also get opportunities to attend national camps, adventure expeditions, and participate in social service initiatives.
            
            Highlights of NCC:
            
            Rigorous physical and leadership training
            
            Participation in Republic Day and Independence Day parades
            
            Adventure activities like trekking, camps, and shooting
            
            Contribution to community service and national integration
            
            NCC cadets emerge as confident, responsible, and disciplined individuals, well-prepared for careers in the Armed Forces, civil services, or any professional path that values leadership and integrity.</p>


        </div>
        <div class="col-md-5">
          <img class="camera-img" src="/images/ncclogo.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- Events and Workshops-->
  <section class="page-section" id="events">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Events & Workshops</h2>
        <h3 class="section-subheading text-muted">We are here to help you learn and grow.</h3>
        
      </div>


      <ul class="nav justify-content-center md-pills pills-secondary">
        <!-- <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#panel11" role="tab">Trending Events</a>
            </li> -->
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#panel12" role="tab">Recent Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#panel13" role="tab">Past Events</a>
        </li>
      </ul>

     
      <!-- Tab panels -->
      <div class="tab-content pt-0">
        

        <!--Panel 2-->
        <div class="tab-pane fade in show active" id="panel12" role="tabpanel">
          <br>
          <!-- Card deck -->
          <div class="card-deck">

            <div class="card mb-4">

              <!--Card image-->
              <div class="view overlay">
                <img class="card-img-top" src="" alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">

                <!--Title-->
                <h4 class="card-title text-center">Painiting Competition</h4>
                <!--Text-->
                <p>
                <p class="card-texts text-center"><strong> Last Date:</strong> 25<sup>th</sup> June, 2021<br>
                  <strong>Theme:</strong> Nature <br>
                  <strong>Results On:</strong> 10<sup>th</sup> April,2025 <br>
                </p>
                <p></p>
                <p><a href="link" class="btn btn-primary btn-lg float-center disabled">Registration Closed</a>
                  <!--<a href="" target="_blank" class="button">Register</a>-->
                </p>
              </div>

            </div>

            <!-- Card -->
            <div class="card mb-4">

              <!--Card image-->
              <div class="view overlay">
                <img class="card-img-top" src="" alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">

                <!--Title-->
                <p>

                </p>
                <h4 class="card-title text-center">Badminton Competition</h4>
                <!--Text-->
                <p class="card-texts text-center"><strong> Last Date:</strong> 2<sup>nd</sup> September, 2020<br>
                  <strong>Theme:</strong> Ganesh Utsav <br>
                  <strong>Results On:</strong> 9<sup>th</sup> April,2025<br>
                </p>
                <p></p>
                <p><a href="link" class="btn btn-primary btn-lg float-center disabled">Registration Closed</a>
                  <!--<a href="" target="_blank" class="button">Register</a>-->
                </p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

              </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

              <!--Card image-->
              <div class="view overlay">
                <img class="card-img-top" src="" alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">

                <!--Title-->
                <h4 class="card-title text-center">Quiz Competition</h4>
                <!--Text-->
                <p>
                <p class="card-texts text-center"><strong> Last Date:</strong> 2<sup>nd</sup> September, 2020<br>
                  <strong>Theme:</strong> Ganesh Utsav <br>
                  <strong>Results On:</strong> 11<sup>th</sup> April,2020 <br>
                </p>
                <p></p>
                <p><a href="link" class="btn btn-primary btn-lg float-center disabled">Registration Closed</a>
                  <!--<a href="" target="_blank" class="button">Register</a>-->
                </p>
              </div>

            </div>

          </div>
          <!-- Card deck -->

        </div>
        <!--/.Panel 2-->

        <!--Panel 3-->
        <div class="tab-pane fade" id="panel13" role="tabpanel">
          <br>
          <!-- Card deck -->
          <div class="card-deck">

            <!-- Card -->
            <div class="card mb-4">

              <!--Card image-->
              <div class="view overlay">
                <img class="card-img img-fluid" src="assets/img/Events/Ganpati Utsav Flyer.jpg" alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">

                <!--Title-->
                <p>

                </p>
                <h4 class="card-title text-center">ShutterBugs Monthly Competition</h4>
                <!--Text-->
                <p class="card-text text-center"><strong> Last Date:</strong> 2<sup>nd</sup> September, 2020<br>
                  <strong>Theme:</strong> Ganesh Utsav <br>
                  <strong>Results On:</strong> 5<sup>th</sup> September,2020 <br>
                </p>
                <p></p>
                <p><a href="link" class="btn btn-primary btn-lg float-center disabled">Registration Closed</a>
                  <!--<a href="" target="_blank" class="button">Register</a>-->
                </p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

              </div>

            </div>


            <!-- Card -->
            <div class="card mb-4">

              <!--Card image-->
              <div class="view overlay">
                <img class="card-img-top" src="assets/img/Events/MINIWORKSHOP123.jpg" alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">

                <!--Title-->
                <h4 class="card-title text-center">Photography Workshop</h4>
                <!--Text-->
                <p>
                <p class="card-text text-center"><strong> Last Date:</strong> 2<sup>nd</sup> September, 2020<br>
                  <strong>Theme:</strong> Ganesh Utsav <br>
                  <strong>Results On:</strong> 5<sup>th</sup> September,2020 <br>
                </p>
                <p></p>
                <p><a href="link" class="btn btn-primary btn-lg float-center disabled">Registration Closed</a>
                  <!--<a href="" target="_blank" class="button">Register</a>-->
                </p>
              </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

              <!--Card image-->
              <div class="view overlay">
                <img class="card-img-top" src="assets/img/Events/sb-marathi-competition231456897654321654789546321.jpg"
                  alt="Card image cap">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">

                <!--Title-->
                <h4 class="card-title text-center">Mai Marathi</h4>
                <!--Text-->
                <p class="card-text text-center"><strong> Last Date:</strong> 2<sup>nd</sup> September, 2020<br>
                  <strong>Theme:</strong> Ganesh Utsav <br>
                  <strong>Results On:</strong> 5<sup>th</sup> September,2020 <br>
                </p>
                <p></p>
                <p><a href="link" class="btn btn-primary btn-lg float-center disabled">Registration Closed</a>
                  <!--<a href="" target="_blank" class="button">Register</a>-->
                </p>

              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Card deck -->

        </div>
        <!--/.Panel 3-->

        </section>-->
      </div>
  </section>

  <!-- Team-->
  <section class="page-section bg-light" id="team">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">Every Club needs someone at Lead to guide , support and show you the
          right path before making a mistake.</h3>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="team-member">
			<!-- sir-->
            <img class="mx-auto rounded-circle" src="assets/img/team/amol-kapse.jpg" alt="" />
            <h4>abc</h4>
            <p class="text-muted">Faculty Co-Ordinator</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/amol-kapse-b90835120"><i
                class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/amolkapse83"><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/amolkapse83?igshid=1cdeyvz7683v7"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
			<!-- president -->
            <img class="mx-auto rounded-circle" src="new/Fiza_Patel1.jpeg" alt="" />
            <h4>abc</h4>
            <p class="text-muted">President</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/fiza-p-3954b9141"><i
                class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/freezethe_moment_"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="team-member">
			<!-- vice president -->
            <img class="mx-auto rounded-circle" src="new/Falguni_Charde.jpg" alt="" />
            <h4>abc</h4>
            <p class="text-muted">Vice President</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/_speakingframes/"><i
                class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/FCharde?s=09"><i
                class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/falguni-charde-2749511b0"><i
                class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col-lg">
          <div class="team-member">
			<!-- activity head -->
            <img class="mx-auto rounded-circle" src="assets/img/team/Pratik Kale.jpeg" alt="" />
            <h4>abc</h4>
            <p class="text-muted">Activity Head</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/prato.grapher"><i
                class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://linkedin.com/in/pratik-kale135"><i
                class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://pratikkale.biz"><i class="fas fa-globe"></i></a>
          </div>
        </div>
		<div class="col-lg">
          <div class="team-member">
			<!-- content writing nidhi & srishti-->
            <img class="mx-auto rounded-circle" src="new/Nidhi_Ochani2.jpg" alt="" />
            <h4>abc</h4>
            <p class="text-muted">Content Writer</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/perspective.of.a.wallflower/"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-lg">
          <div class="team-member">
      <!-- web + content  -->
            <img class="mx-auto rounded-circle" src="new/Srishti_Acharya.jpg" alt="" />
            <h4>abc</h4>
            <p class="text-muted">Web Developer and Content Writer</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/timeless._.treasures._/"><i
                class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/srishti-acharya-90920a20a"><i
                class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://srishtiacharya.github.io/Portfolio/"><i class="fas fa-globe"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
		<div class="col-lg">
          <div class="team-member">
			<!-- WEb developers nehaal, aditya-->
            <img class="mx-auto rounded-circle" src="new/Nehaal_Pandey1.jpeg" alt="" />
            <h4>abc </h4>
            <p class="text-muted">Web Developer</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/a_rail_soul/"><i
                class="fab fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/a_jpeg_soul/"><i
                    class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/nehaal-pandey-849961226"><i
                class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
		<div class="col-lg">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="new/Aditya_Goutam1.jpg" alt="" />
            <h4>abc</h4>
            <p class="text-muted">Web Developer</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/ravishing_exposure/"><i
                class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/aditya-goutam-323a201ba/"><i
                class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://github.com/adityagoutam23"><i class="fas fa-globe"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
		<div class="col-lg">
          <div class="team-member">
			<!-- graphics : ruchish -->
            <img class="mx-auto rounded-circle" src="new/Ruchish_Pakhare.jpg" alt="" />
            <h4>abc</h4>
            <p class="text-muted">Graphics Designer</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/ruchishpakhare/"><i
                class="fab fa-instagram"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="https://in.linkedin.com/in/ruchish-pakhare-605374219"><i
                class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
		<div class="col-lg">
          <div class="team-member">
			<!-- social media : jenish -->
            <img class="mx-auto rounded-circle" src="new/Jenish_Panchal.jpg" alt="" />
            <h4>abc</h4>
            <p class="text-muted">Social Media Manager</p>
            <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/jenishh11/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        </div>


</section>

  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Contact form JS-->
  <script src="assets/mail/jqBootstrapValidation.js"></script>
  <script src="assets/mail/contact_me.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</body>

</html>